!!!5
html
	head
		title #{title} - Maite's radio!
		//link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')

body
	block content
	//  header
	//    h1 Maite's Radio!
	//  .container
	//    .main-content
	//      block content
	//    .sidebar
	//      block sidebar
	//  footer	
	//    p Running on node with Express, Jade and Stylus
